<!-- Sign In/Register Form -->
<div class='container container-narrow'>
  <% if registration %>
  <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
  <% else %>
  <form class="login" id="login" action="/login" accept-charset="UTF-8" method="post">
  <% end %>

    <!-- Title/misc form requirements -->
    <h2 class="title"><%= registration ? "Sign Up" : "Sign In" %></h2>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

    <!-- Username input -->
    <fieldset class="form-group">
      <label class="sign-label" for="username">Username</label>
      <input type="text" class="form-control" id="username" name="user[username]">
    </fieldset>

    <!-- Password input -->
    <fieldset class="form-group">
      <label class="sign-label" for="password">Password</label>
      <input type="password" class="form-control" id="password" name="user[password]">
    </fieldset>

    <!-- Password confirmation input: only for registration page -->
    <% if registration %> 
    <fieldset class="form-group">
      <label class="sign-label" for="password_confirmation">Confirm Password</label>
      <input type="password" class="form-control" id="password_confirmation" name="user[password_confirmation]">
    </fieldset>
    <% end %> 

    <!-- Submit button -->
    <input type="submit" value=<%= registration ? "Register" : "Login" %> name="commit" class="btn btn-primary">
  </form>
</div>
