<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <h4>Contacts List</h4>
      <p>Here's who you know and when you last spoke to them.</p>

      <!-- Each contact has it's own card in it's own row -->
      <% @contacts.each do |contact| %>
        <div class='card card-inverse card-success'>

          <div class="card-block card-block-contact text-left">
            <blockquote class="card-blockquote">
              <h3><%= contact.contact_name %></h3>
              <% coms = contact.communications %>
              <%# coms = coms.sort_by! do |com| com[:communication_time] end %>
              <footer>
                <% if coms.last %>
                  Last contact was <%= time_ago_in_words(coms.last.communication_time) %> ago
                <% else %>
                  Never contacted
                <% end %>
              </footer>
            </blockquote>
          </div>

          <div class="card-block card-block-contact card-block-btns">
            <!-- Create new communication button -->
            <a href="/contacts/<%= contact.id %>"  class="btn btn-primary btn-reach-out">Reach out!</a>
            <a href="/contacts/<%= contact.id %>"  class="btn btn-primary btn-add-com">Edit</a>
          </div>
        </div>
      <% end %>

    </div>


 </div> <!-- /row div -->
</div> <!-- /container div -->
