<a href="/contacts/new">link test</a>

<% @contacts.each do |contact| %>
  <div class="row">
    <div class='span8 well'>
      <p><%= contact.contact_name %></p>
      <% coms = contact.communications %>
      <% coms = coms.sort_by! do |com| com[:communication_time] end %>
      <p>
        <% if coms.last %>
          Last contact was <%= time_ago_in_words(coms.last.communication_time) %> ago
        <% else %>
          Never contacted
        <% end %>
      <p>
    </div>
  </div>
<% end %>
