.container
%section.contacts_index
  .row
    .col-md-4.col-md-offset-4
      .col-md-6.text-left.title
        %h1 Contacts
      .col-md-6.text-right.link-add-contact
        %a(href="#") Add New Contact
  .row
    .col-md-4.col-md-offset-4
      .row
        .card.card-inverse.card-success
          .row
            .col-md-8
              .card-block.card-block-top
                %h4.card-title Mom
            .col-md-4
              .card-block.card-block-top.text-right.contact-btn
                %button.btn.btn-primary Contact
          .row
            .col-md-8
              .card-block.card-block-bottom
                %p.card-text Last contacted two days ago.
            .col-md-4
              .card-block.card-block-bottom.text-right.contact-btn
                %button.btn.btn-primary Edit
  .row
    .col-md-4.col-md-offset-4
      .row
        .card.card-inverse.card-success
          .row
            .col-md-8
              .card-block.card-block-top
                %h4.card-title Mom
            .col-md-4
              .card-block.card-block-top.text-right.contact-btn
                %button.btn.btn-primary Contact
          .row
            .col-md-8
              .card-block.card-block-bottom
                %p.card-text Last contacted two days ago.
            .col-md-4
              .card-block.card-block-bottom.text-right.contact-btn
                %button.btn.btn-primary Edit
  .row
    .col-md-4.col-md-offset-4
      .row
        .card.card-inverse.card-success
          .row
            .col-md-8
              .card-block.card-block-top
                %h4.card-title Mom
            .col-md-4
              .card-block.card-block-top.text-right.contact-btn
                %button.btn.btn-primary Contact
          .row
            .col-md-8
              .card-block.card-block-bottom
                %p.card-text Last contacted two days ago.
            .col-md-4
              .card-block.card-block-bottom.text-right.contact-btn
                %button.btn.btn-primary Edit

