/ Header
.intro-header
  .container
    .row
      .col-lg-12
        .intro-message
          %h1 Stay In Touch
          %h3 Keep up with who's important to you
          %hr.intro-divider/
  / /.container
.content-section-a
  .container
    .row
      .col-lg-7.col-sm-8
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          When's the last time you called mom?
          %br>/
          Or that old acquaintance?
        %p.lead
          We can tell you. We'll help you keep track of the relationships in your life.
          It's important to do something something words words.
      .col-lg-3.col-lg-offset-2.col-sm-2
        //.container
        //%img.img-responsive.side-img{:alt => "", :src => "/assets/possible_cover.jpg"}/
  / /.container
  / /.content-section-a
/ /.container
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer/
        .clearfix
        %h2.section-heading
          Another Feature!
        %p.lead
          Words words words description of feature and more words etc stuff
      .col-lg-5.col-sm-pull-6.col-sm-6
        /%img.img-responsive{:alt => "", :src => "img/dog.png"}/
  / /.container
/ /.content-section-b
.banner
  .container
    .row
      .col-lg-6
        %h2 Sign Up To Stay In Touch!
  / /.container
/ /.banner
