%section.new_contact
  .col-md-4.col-md-offset-4
    %form.new_contact#new_contact(action="#" accept-charset="UTF-8" method="post")

    %h1.title New Contact
    %input(name="utf8" type="hidden" value="&#x2713;")
    = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

    %fieldset.form-group.row
      .col-md-4
        %label.sign-label(for="contact_name") Name
      .col-md-8
        %input.form-control#contact_name(type="text" name="contact[contact_name]")

    %fieldset.form-group.row
      .col-md-4
        %label.sign-label(for="phone_num") Phone Number
      .col-md-8
        %input.form-control#contact_email(type="text" name="contact[phone_num]")

    %fieldset.form-group.row
      .col-md-4
        %label.sign-label(for="email") Email
      .col-md-8
        %input.form-control#contact_email(type="email" name="contact[email]")

    %input.btn.btn-primary(type="submit" value="Add Contact" name="commit")
