%section.new_communication
  .row
    .col-xl-4.col-xl-offset-4.col-lg-5.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %form.new_communication#new_communication(action="#" accept-charset="UTF-8" method="post")
      .row.title-row
        .col-xs-7.col-sm-8
          %h1.title Mom
        .col-xs-5.col-sm-4.align-bottom.text-right
          %a.link-add-contact(href="#") Contact Info
      %hr.squeeze-up

      .row
        .col-xs-12
          .btn-group.btn-block
            %button.btn.btn-secondary.col-xs-11.text-left Communication Type
            %button.btn.btn-secondary.dropdown-toggle.col-xs-1(type="button" data-toggle="dropdown")
              %span.sr-only Toggle Dropdown
            .dropdown-menu
              %a.dropdown-item(href="#") One
              %a.dropdown-item(href="#") Two
              %a.dropdown-item(href="#") Three
      .row
        .col-xs-12
          %br
          Placeholder for datepicker
          %br
          %br
      .row
        .col-xs-12
          %fieldset.form-group
            %label(for="description") Notes
            %textarea.form-control(id="description" rows="6")
