/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

.navbar-default .navbar-brand {
  padding: 0 16px;
  box-shadow: inset 0 -2px 0 rgba(146,53,192,0);
  color: #009900;
  font-size: 100%;
  font-weight: normal;
  line-height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 16px;
  text-transform: uppercase;
}

.navbar .nav > li > a {
  box-shadow: inset 0 -2px 0 rgba(146,53,192,0);
  color: #009900;
  font-size: 100%;
  font-weight: normal;
  line-height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 16px;
  text-transform: uppercase;
}

.quiet {
  color: #ababab;
}

.label  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

