/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

body {
    background-color: #837B99;
}

.navbar-default .navbar-brand {
  padding: 0 16px;
  box-shadow: inset 0 -2px 0 rgba(146,53,192,0);
  font-weight: bold;
  color: #443C59;
  font-size: 100%;
  line-height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 16px;
  text-transform: uppercase;
}

.navbar .nav > li > a {
  box-shadow: inset 0 -2px 0 rgba(146,53,192,0);
  color: #443C59;
  font-size: 100%;
  font-weight: bold;
  line-height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 16px;
  text-transform: uppercase;
}

.navbar { height: 4em; }

.container-narrow {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  color: #443C59;
  margin-bottom: 24px;
  line-height: 1.5em;
  text-align: left;
}

.label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.btn-primary {
  background: #5C069A;
  border-color: #5C069A;
  color: #fff;
  display: inline-block;
  width: auto;
}
