section.new_contact
  h1.title
    border-bottom: 1px solid #B8B8B8
    margin-bottom: 0.5em
    margin-top: 0.5em
    line-height: 1.5em
  .title-row
    position: relative
  .align-bottom
    position: absolute
    bottom: .5em
    right: 0
  input.btn
    float: right
section.contacts_index
  h1.title
    margin-bottom: 0
    margin-top: 0.5em
    line-height: 1.5em
  .title-row
    position: relative
  .align-bottom
    position: absolute
    bottom: .5em
    right: 0
  .link-add-contact
    text-decoration: underline
  hr.squeeze-up
    margin-top: 0
  .card-block-top
    padding-bottom: 0.25rem
  .card-block-bottom
    padding-top: 0.25rem
    padding-bottom: .75rem

