.container-fluid.header
  .row
    %nav.navbar.navbar-dark.bg-inverse
      .col-md-5.col-md-offset-1
        %a.navbar-brand(href="/") Stay in Touch
      .col-md-5
        %ul.nav.navbar-nav
          - if logged_in?
            %li.nav-item.active.pull-right
              %a.nav-link.green-top-border(href="/logout") Logout
              %span.sr-only (current)
          - else
            %li.nav-item.active.pull-right
              %a.nav-link.green-top-border(href="/register") Register
              %span.sr-only (current)
            %li.nav-item.active.pull-right
              %a.nav-link.green-top-border(href="/login") Login
              %span.sr-only (current)
